[submodule "vendor/google_test"]
	path = vendor/google_test
	url = https://github.com/google/googletest.git
[submodule "vendor/google_benchmark"]
	path = vendor/google_benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/quill"]
	path = vendor/quill
	url = https://github.com/odygrd/quill.git
